-if @id == "B.Tech" or @id == "M.Tech"
  %div.breadcrumb.flat
    %a{:href => "/"} Home
    %a{:href => "/program"} Program
    %a.active{:href => "#"} Survey Response
-else
  %div.breadcrumb.flat
    %a{:href => "/"} Home
    %a{:href => "/course"} Course
    %a{:href => "/course/#{@question_group.category}"} Survey
    %a.active{:href => "#"} Survey Response
%h2 Please answer these Questions
%hr

= simple_form_for([@question_group, @answer_group_builder]) do |f|
  - @answer_group_builder.answers.each do |answer|
    = f.simple_fields_for "#{answer.question.id}", answer do |answer_form|
      = render_answer_form_helper(answer, answer_form)
  = f.submit "Submit", class: "btn btn-primary btn-large"
