<% results.each do |result| %>
  <div>
    <h4>
      Question:
      <%= result.question.question_text %>
    </h4>
    <p>
      <% if result.results.is_a?(Array) %>
        <ol>
          <% result.results.each do |answer| %>
            <% if !answer.blank? %>
            <li>
              <%= answer %>
            </li>
            <% end %>
          <% end %>
        </ol>
      <% elsif result.results.is_a?(Hash) %>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Option</th>
              <th>Count</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <% sum=0 %>
            <% result.results.each {|option,count| sum += count.to_i} %>
            <% result.results.each do |option, count| %>
              <tr>
                <td>
                  <%= option %>
                </td>
                <td>
                  <%= count %>
                </td>
                <td>
                  <%= (count *100) / sum %><%="%" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </p>
  </div>
  <hr/>
<% end %>
