<tr id="question_group_<%= question_group.id %>">
  <td>
    <% if can_administer? %>
      <%= link_to question_group.name, question_group_questions_path(question_group) %>
    <% else %>
      <%= question_group.name %>
    <% end %>
  </td>
  <td>
    <ul class="horizontal-list">
      <% if ! can_administer? %>
      <li>
        <% if ! question_group.questions.empty? %>
          <%= link_to "Take this survey", new_question_group_answer_group_path(question_group), class: "btn btn-primary"%>
        <% else %>
          <%= link_to "Take this survey", new_question_group_answer_group_path(question_group), :disabled => true, class: "btn btn-primary"%>
        <% end %>
      </li>
      <% else %>
        <li>
          <%= link_to "View Questions", question_group_questions_path(question_group), class: "btn btn-primary"%>
        </li>
        <li>
          <%= link_to "Results", [:results, question_group], class: "btn btn-info" %>
        </li>
        <li>
          <%= link_to "Delete", [question_group], method: :delete, remote: true, class: "btn btn-danger", data: { confirm: "Are you sure?", title: "Do You Want to Delete the Survey" } %>
        </li>
      <% end %>
    </ul>
  </td>
</tr>